<div class="header">
      <h1>Lets See The World</h1>
    </div>

    <nav class="topnav" id="nav">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            {{#if loggedIn}}
             <li><a> </a></li>
             <li><a href="/add-post">Add Post</a></li>
            {{else}}
           <li><a href="/signup">Sign Up</a></li>
            {{/if}}
          </ul>

          <ul class="nav navbar-nav navbar-center">
            {{#if loggedIn}}
              <button id="logout" class="navbar-right nav navbar-bar container-fluid logout ">Logout</button>
            {{else}}
              <li><a href="/login">Log In</a></li>
            {{/if}}
          </ul>
        <ul class="nav navbar-nav navbar-right">
            <div class="dropdown">
                <button class="dropbtn">Sort Post by Country</button>
                    <div class="dropdown-content">
                        <a href="/italyhb">Italy</a>
                        <a href="/spainhb">Spain</a>
                        <a href="/greatBritain">Great Britain</a>
                        <a href="/usa">USA</a>
                        <a href="/turkie">Turkie</a>
                    </div>
            </div>
        </ul>
        </div>
      </div>
    </nav>