<html>
  <head>
    <title>
      {{#if loggedin}}
        Welcome
        {{userName}}
      {{else}}
        Travel Blog
      {{/if}}
    </title>
    {{! <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> }}
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/public/css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
    ></script>
  </head>
  <body class="container">
    <div class="jumbotron text-center">
      <h1>Lets See The World</h1>
    </div>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/signup">Sign Up</a></li>
            <li><a href="/add-post">Add Post</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-center">
            {{#if loggedin}}
              <button id="logout" class="btn-no-style">Logout</button>
            {{else}}
              <li><a href="/login">Log In</a></li>
            {{/if}}

          </ul>
        </div>
      </div>
    </nav>

    {{{body}}}
  </body>

  <script src="/javascript/logout.js"></script>
</html>