<div class="container row">
  <div class="post-title">
    <h1>Hi, Welcome to your Dashboard</h1>
    <h2>Share your thoughts on a location!</h2>
  </div>

  <form class="description" class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <br />
      <input class="box" type="text" id="post-title" name="post-title" />
    </div>
 
    <div class="description" class="form-group">
      <label for="text">Description</label>
      <br />
      <textarea class="form-control" id="text" name="description" rows="7" cols="40"> </textarea>
    </div>
    <br />
    <button
      type="submit"
      class="btn btn-default"
      value="Submit Button"
    >Create</button>
  </form>

</div>
<script src="/javascript/add-post.js"></script>