<div class="container row">
  <div >
    <h1 class="title">Hi, Welcome to your Dashboard</h1>
    <h2>Share your thoughts on a location!</h2>
  </div>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <br />
      <input class="form-control" type="text" id="post-title" name="post-title" />
    </div>
 
    <div class="description" class="form-group">
      <label for="text">Description</label>
      <br />
      <textarea class="form-control" id="text" name="description" rows="7" cols="40"> </textarea>
    </div>
    <br/>
  <label for="country">What Country?</label>
    <select id="country" name="country" class="black"> 
      <option value="1">Italy</option>
      <option value="2">Spain</option>
      <option value="3">Great Britain</option>
      <option value="4">USA</option>
      <option value="5">Turkie</option>
    </select>
    <button type="submit" class="btn btn-primary" value="Submit Button">Create</button>
  </form>

</div>
<script src="/javascript/add-post.js"></script>

{{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
{{/if}}