<div class="container row">
  <h1>Hi, Welcome {{user.username}}</h1>
  <h2>Share your thoughts on a location!</h2>
  <form class="new-post-form">
    <div>
      <form>
        <label for="country">What Country?</label>
        <select name="country" id="country" name="country">
          <option value="France">France</option>
          <option value="Spain">Spain</option>
          <option value="United States">United States</option>
          <option value="China">China</option>
          <option value="Italy">Italy</option>
        </select>
      </form>
    </div>
    <div>
      <form>
        <label for="season">Best time to travel</label>
        <select name="seasons" id="seasons" name="seasons">
          <option value="Summer">Summer</option>
          <option value="Spring">Spring</option>
          <option value="Fall">Fall</option>
          <option value="Winter">Winter</option>
        </select>
      </form>
    </div>
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <br />
    <div>
      <label for="text">Description</label>
    </div>
    <div>
      <textarea rows="7" cols="40" id="text" name="text"> </textarea>
    </div>
    <br />

    <button type="submit" class="btn">Create</button>
  </form>
</div>

<script src="/public/javascript/add-post.js"></script>