 <div class="container row">
    <h1>Hi, Welcome to your Dashboard</h1>
  <h2>Share your thoughts on a location!</h2>
  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <br>
    <div>
      <label for="text">Description</label>
      <br>
      <textarea id="text" name="description" rows="7" cols="40"> </textarea> 
    </div>
    <br>
        <label for="country">What Country?</label>
        <select id="country" name="country"> 
            <option value="1">Italy</option>
            <option value="2">Spain</option>
            <option value="3">Great Britain</option>
            <option value="4">USA</option>
            <option value="5">Turkie</option>
        </select>
    <br> 
    <button type="submit" class="btn">Create</button>
  </form>

  
</div>
<script src="/javascript/add-post.js"></script>

