<div class="background"> 
<article>
    <div class="title">
        {{post.title}}
    </div>
    <div class="body">
        {{post.text}}
    </div>
    <br>
    <div class="meta">
        {{!-- <div>Posted by {{user.username}}</div> --}}
        <div>Comments</div> 
    </div>
    <br>
</article class="meta1">

{{> comments post.comments}}

{{#if loggedIn}}
<br>
<form class="comment-form">
  <div>
    <textarea class="form-control" name="comment-body" placeholder="Leave a comment about this post!"></textarea>
  </div>
  <br>
  <div>
    <button class="btn btn-primary" type="submit">add comment</button>
  </div>
</form>
{{/if}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}
</div>

