/* CSS for background image  */
html {
  background: url(../images/earth.jpg) no-repeat center fixed;
  background-size: cover;
}

.container {
  background: transparent;
  color: white;
}

/* Style for the title */
.header {
  background-color: none;
  padding: 30px;
  text-align: center;
  color: #ddd;
}

/* Style the country title */
.post-title {
  background-color: none;
  padding: 10px;
  text-align: left;
  color: #ddd;
}

/* Style the top navigation bar */
#nav {
  position: sticky;
  top: 0;
  background-color: #333;
}

.logout {
  top: 0;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 10px 2px;
  cursor: pointer;
}

/* Spacing in the login page  */
.log {
  padding: 14px 16px;
  text-decoration: none;
}

/* Spacing in the signup page  */
.signup {
  padding: 14px 16px;
  text-decoration: none;
}

/* CSS for footer  */
.footer {
  background-color: #333;
  color: white;
  font-family: Arial;
  font:bolder;
  text-align: left;
}


/* CSS for the posts on home page  */
#title-box {
  width: 10px;
  align-self: center;
  padding: 20px;
  background-color: transparent;
}

#box {
  width: 400px;
  background-color: white;
  padding: 40px;
  border-collapse: separate;
  border: 1px solid blue;
  box-shadow: 5px 10px 8px #888888;
  text-align: center;
  color: black;
}
.black {
  color: black;
}

/* addpost page */
.title {
  color: white;
  -webkit-text-stroke: white 1px;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif; 
}

.body {
  background-color: white;
  border-radius: 15px;
  padding: 10px;
  color: black;
}

.meta {
  font-size: 15px;
  -webkit-text-stroke: black .5px;
}

/* CSS for drop down  */
.dropbtn {
  background-color: #0e0eeb;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: rgb(2, 70, 216);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #969696;
}
